<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <form action="" method = "POST">
        {% csrf_token %}
        Username: <input type="text" name = "username"><br><br>
        Email: <input type="email" name = "email"><br><br>
        First Name: <input type="text" name = "firstname"><br><br>
        Last Name: <input type="text" name = "lastname"><br><br>
        Password: <input type="password" name = "password1"><br><br>
        Confirm Password: <input type="password" name = "password2"><br><br>
        <input type="submit">
    </form>
    <div>
        {% for message in messages %}
            {{message}}
        {% endfor %}
    </div>
</body>
</html>